@model List<EntityLayer.Concrete.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Veri Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Hakkımda Başlığı</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>Başlık</td>
            @if (item.Status)
            {
                <td>
                    <a href="/About/ChangeStatus/@item.Id" class="btn btn-danger">Deactive</a>
                </td>
            }
            else
            {
                <td>
                    <a href="/About/ChangeStatus/@item.Id" class="btn btn-success">Activate</a>
                </td>
            }
        </tr>
    }
</table>

@Html.Action("AboutPartial", "About")