
@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="/assets/css/style404.css" />

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <h2>404 - SAYFA BULUNAMADI</h2>
        <p>Aradığınız sayfayı bulumadık :(</p>
        <a href="#">ANA SAYFAYA DÖN</a>
    </div>
</div>